### Assignment (16th Feb, 2023) [ MySql ]

#### Name: Abhinav Gupta
#### email: abhinavgta18@gmail.com

**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A database is a collection of data on disk in one or more files on a database server that collects and maintains related information. The database consists of various physical and logical structures, the table being the most important logical structure in the database.

**SQL:** It is a structured query language. SQL databases have a tabular or relational data model, where data is organized into tables with rows and columns. The data is structured and follows a fixed schema.

**NoSQL:** (Not Only SQL). NoSQL databases have a flexible or schema-less data model, where data is stored as documents, key-value pairs.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

**DDL** stands for *Data Definition Language*. DDL statements are used to create tables, remove tables and make changes to the table structure.

Table structure refers to the number of columns and data types of columns and the constraints which can be applied or revoked as desired. Examples CREATE, DROP, ALTER.

**CREATE**
Create is used to create the objects in the database. The objects can be Tables, View etc.

Syntax: CREATE TABLE table_name (col1 datatype, col2 datatype)

CREATE TABLE STUDENT (name varchar2(30), ID int(2));

STUDENT table is created. This table is having Name and ID column. Data type of Name is varchar2 and for ID is int.

**DROP**
Drop is used to entirely delete the table with its data and structure.

Syntax: DROP TABLE table_name;

DROP TABLE STUDENT;

STUDENT table will be dropped entirely.

**ALTER**
Alter is used to make chnages to the structure of tables.

Syntax: ALTER TABLE table_name ADD column_name data_type;

ALTER TABLE STUDENT ADD Phone varchar2(10);

Phone column is added into the STUDENT table.

**TRUNCATE**
To remove records permanently, truncate is used. The truncated data will not be recovered as they will be deleted permanently. The table structure will not be affected.

Syntax: TRUNCATE TABLE table_name;

TRUNCATE TABLE STUDENTS;

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

**DML** stands for *Data Manipulataion Language*. It is used for adding new records, removing or chnaging values of existing records. Example INSERT, UPDATE, DELETE, TRUNCATE.

**INSERT**
Add new records to the table, we use the INSERT.

Syntax: INSERT INTO table_name values ('value1',number1)

Let us assume Student table having col1 as NAME, col2 as ID and col3 as Phone

INSERT INTO Student values ('Abhinav',1,'123456987');


**UPDATE**
To modify the existing record in the table

Syntax: UPDATE table_name SET column_name1='value of your wish',column_name2=number_of your_wish WHERE conditions;

UPDATE Student set name ='Godzilla' WHERE Id=1;

**DELETE**
To delete a record from a table which is no longer required.

Syntax: DELETE FROM table_name WHERE condition;

DELETE from Student where name like('Godzilla');

**Q4. What is DQL? Explain SELECT with an example.**

**DQL** stands for *Data Query Language*. These commands are used to view the records from tables onto our screen. DQL commands help us to retrieve data which are stored onto the disk of servers and enable us to view the information. Example SELECT.

**SELECT**

Syntax: SELECT col1,col2 from table_name WHERE conditions;

Let us retieve all data from Student table

Select * from Students;

**Q5. Explain Primary Key and Foreign Key.**

A primary key is a column or set of columns in a table that uniquely identifies each row in the table. The values in a primary key column must be unique and not null. A primary key is used to enforce data uniqueness and to allow efficient indexing of data.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. A foreign key establishes a relationship between two tables by enforcing referential integrity. The values in a foreign key column must match the values in the primary key column of the referenced table or be null.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [ ]:
#pip install ipython-sql

In [ ]:
#pip uninstall mysql-connector

In [1]:
import mysql.connector

In [12]:
mydb = mysql.connector.connect(user='root', password='PasswordChangesduetoprivacy',
                              host='127.0.0.1',
                              auth_plugin='mysql_native_password')
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A73DCAAE20>

In [18]:
mydb = mysql.connector.connect(user='root', password='pwdchangedduetoprivacy',
                              host='127.0.0.1',database='new_database',
                              auth_plugin='mysql_native_password')
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW databases")
for x in mycursor:
    
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A73DCAAEE0>
('information_schema',)
('mysql',)
('new_database',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('test2',)

**Q7. Give the order of execution of SQL clauses in an SQL query.**

**The Order of execution of clauses in an SQL query**

**FROM clause** - This clause specifies the table or tables from which the data will be retrieved.

**JOIN clause** - If the query involves multiple tables, the JOIN clause is used to combine the tables based on a specified join condition.

**WHERE clause** - This clause filters the data based on a specified condition.

**GROUP BY** clause - If the query involves grouping the data, the GROUP BY clause is used to group the data based on one or more columns.

**HAVING** clause - This clause filters the grouped data based on a specified condition.

**SELECT** clause - This clause specifies the columns to retrieve from the table.

**ORDER BY** clause - This clause orders the result set based on one or more columns.